@page "/Directory/Taxes"
@using AppliedTax.Codes;
@using System.Data;
@using System.Data.SQLite;
@using System.Text;

<h1>
    Tax Rate
</h1>

@code {
    public TableClass tb_Taxes = new("[Taxes]");


    [Parameter]
    public long InvID { get; set; }
    public string MyMessage = String.Empty;

    private void Delete(long ID)
    {
        if (ID > 0)
        {

            var TextDelete = "DELETE FROM [Taxes] WHERE [ID] = @ID";
            var SQLCommand = new SQLiteCommand(TextDelete, ConnectionClass.GetConnected());
            SQLCommand.Parameters.AddWithValue("@ID", ID);
            var effected = SQLCommand.ExecuteNonQuery();
            if (effected > 0)
            {
                MyMessage = "Record has been deleted successfully";
            }
            else
            {
                MyMessage = "Record not deleted.";
            }
        }
        else
        {
            MyMessage = "Value id not more than zero";
        }
    }

}

<div class="container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Rate</th>
                <th>Description</th>
                <th><button class="btn btn-success btn-By"><i class="bi bi-plus me-2"></i></button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow Row in tb_Taxes.MyDataTable.Rows)
            {
                <tr>
                    <td>@Row["Code"]</td>
                    <td>@Row["Title"]</td>
                    <td>@Row["Rate"]</td>
                    <td>@Row["Description"]</td>
                    <td>
                        <a class="btn btn-danger" style="width:20%" href="/Directory/TaxesRecord"><i class="bi bi-pencil-fill me-2"></i></a>
                        <button type="submit" @onclick='() => Delete((long)Row["ID"])' class="btn btn-primary" style="width:20%"><i class="bi bi-trash3-fill me-2"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>