@page "/Directory/TaxPayer"
@using AppliedTax.Codes;
@using System.Data;

<h1>
    Tax Payer Rate
</h1>

@code {
    public TableClass tb_Taxes = new("[TaxPayers]");

}

<div class="container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>NTN Number</th>
                <th>Country</th>
                <th>City</th>
                <th></th>
                <th><button class="btn btn-light"><i class="bi bi-plus me-2"></i>Add</button></th>

            </tr>
        </thead>
        <tbody>

            @foreach (DataRow Row in tb_Taxes.MyDataTable.Rows)
            {
                <tr>
                    @*<th scope="row">1</th>*@
                    <td>@Row["Code"]</td>
                    <td>@Row["Title"]</td>
                    <td>@Row["Address"]</td>
                    <td>@Row["Contact Number"]</td>
                    <td>@Row["NTN Number"]</td>
                    <td>@Row["Country"]</td>
                    <td>@Row["City"]</td>
                    <td><a class="btn btn-danger" href="/Directory/TaxPayerRecord"><i class="bi bi-pencil me-2"></i>Edit</a></td>
                    <td><button class="btn btn-primary"><i class="bi bi-trash3 me-2"></i>Delete</button></td>
                </tr>
            }
        </tbody>
        <tfoot>Footer</tfoot>
    </table>
</div>
            